name: Java App Deployment
on: workflow_dispatch
jobs:
    Build:
      runs-on: ubuntu-latest
      steps:
          - name: Test
            run: echo "building job"
    Deploy:
      runs-on: ubuntu
      steps:
         - name: Deploy Java App
           run: echo "Deployment app"