name: Java App Deployment
on: workflow_dispatch
jobs:
    Build:
      runs-on: ubuntu-latest
      steps:
          - name: Build
            run: docker build -t java:latest
    Deploy:
      runs-on: ubuntu
      steps:
         - name: Deploy Java App
           run: docker compose -d
