name: Java App Deployment
on: workflow_dispatch
jobs:

    Build:
      runs-on: ubuntu
      
      steps:
          - name: Checkout
            uses: actions/checkout@v4
          - name: Mavn Build
            run: mvn clean package -DskipTests
          - name: Build
            run: docker build -t java:latest .
           
            
    Deploy:
      runs-on: ubuntu
      needs: Build 
      steps:
          - name: Deploy
            run: docker compose up
